
	<div class="container">
		<div class="row">
			<main class="col-md-12">
				<br>
				<br>
				<!-- Start your code here -->

				<!-- Main -->
				<div id="main">

					<!-- Post -->
					<article class="post">
						<header>
							<div class="title">
								<h2><a href="#">All About Me.</a></h2>
								<p>This is where you can learn more about me and my background.</p>
							</div>
							<hr class="custom-hr">
						</header>
						
						<h4>About Me</h4>
					
						<p>My name is Titilope Orukotan. I am a student at Seneca College, studying Business Information Technology. As a dedicated learner, I am passionate about business and technology. Throughout my academic journey, I have actively engaged in various projects and activities that have allowed me to develop valuable skills and knowledge. Apart from being a student, I am constantly seeking opportunities to expand my horizons and explore new avenues in my field.</p>
						<p>I believe in the power of education and its ability to transform lives, and I am committed to making a positive impact through my studies. As an integral part of my program, I have been assigned a unique student ID, which is [torukotan]. This identifier helps me navigate various administrative processes and ensures seamless communication within the academic community.</p>	
						<p>Thank you for taking the time to learn a bit about me. I hope this brief introduction provides you with a glimpse into my academic journey and aspirations. Please feel free to explore the rest of the website and reach out if you have any further inquiries or if there's anything else I can assist you with.</p>
								
						<footer class="footer">
							<div class="social-icons">
							  <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
							  <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
							  <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
							  <a href="#" class="social-icon"><i class="fab fa-linkedin"></i></a>
							</div>
							<p>&copy; 2024 WEB700. All rights reserved.</p>
						  </footer>
				
						<!-- End your code here -->

					</article>
				</div>
			</main>
		</div>
	</div>
	